 canvas {
   border: 1px solid black;
   margin: 0 auto;
   display: block;
 }

 html {
 	background: #000;
 }

 div {
 	float: left;
 	color: white;
 	position:absolute;
 	top: 50px;
 	margin-left: 100px;
 	width: 350px;
 	font-family: Arial;
 }
